@model Instructor

@{
    ViewData["title"] = "Registro de Instructor";
}

<h1>Registro de instructores</h1>

<div class="card">
    <form asp-controller="Instructores" asp-action="Crear">
        <div class="card-body">

            <div class="mb-3">
                <label asp-for="TrabajadorExp" class="form-label"></label>
                <input type="text" asp-for="TrabajadorExp" maxlength="5" class="form-control" />
                <span asp-validation-for="TrabajadorExp" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Correo" class="form-label"></label>
                <input type="email" asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Extension" class="form-label"></label>
                <input type="text" asp-for="Extension" class="form-control" />
                <span asp-validation-for="Extension" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Horario" class="form-label"></label>
                <input type="text" asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Descanso" class="form-label"></label>
                <input type="text" asp-for="Descanso" class="form-control" />
                <span asp-validation-for="Descanso" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Tel1" class="form-label"></label>
                <input type="text" asp-for="Tel1" class="form-control" />
                <span asp-validation-for="Tel1" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Tel2" class="form-label"></label>
                <input type="text" asp-for="Tel2" class="form-control" />
                <span asp-validation-for="Tel2" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CALIF" class="form-label"></label>
                <input type="text" asp-for="CALIF" class="form-control" />
                <span asp-validation-for="CALIF" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Gerencia" class="form-label"></label>
                <input type="text" asp-for="Gerencia" class="form-control" />
                <span asp-validation-for="Gerencia" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Materias" class="form-label"></label>
                <input type="text" asp-for="Materias" class="form-control" />
                <span asp-validation-for="Materias" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Actualizacion" class="form-label"></label>
                <input type="text" asp-for="Actualizacion" class="form-control" />
                <span asp-validation-for="Actualizacion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Calificacion2" class="form-label"></label>
                <input type="text" asp-for="Calificacion2" class="form-control" />
                <span asp-validation-for="Calificacion2" class="text-danger"></span>
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
