@model Trabajador

@{
    ViewData["title"] = "Registro de trabajadores";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="card">
    <div class="card-header">
        <h2>Registro de perosnal</h2>
    </div>
    <form asp-controller="Trabajadores" asp-action="Crear">
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Expediente" class="form-label"></label>
                <input type="text" asp-for="Expediente"  class="form-control" />
                <span asp-validation-for="Expediente" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input type="text" asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CATSTC" class="form-label"></label>
                <input type="text" asp-for="CATSTC" class="form-control" />
                <span asp-validation-for="CATSTC" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Gerencia" class="form-label"></label>
                <input type="text" asp-for="Gerencia" class="form-control" />
                <span asp-validation-for="Gerencia" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Coordinacion" class="form-label"></label>
                <input type="text" asp-for="Coordinacion" class="form-control" />
                <span asp-validation-for="Coordinacion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Genero" class="form-label"></label>
                <select name="Genero" asp-for="Genero" class="form-control">
                    <option>SELECCIONE UNA OPCION</option>                   
                    <option value="Masculino">MASCULINO</option>
                    <option value="Femenino">FEMENINO</option>
                    <option value="Otro">OTRO</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CalidadLaboral" class="form-label"></label>
                <select name="CalidadLaboral" asp-for="CalidadLaboral" class="form-select">
                    <option>SELECCIONE UNA OPCION</option>
                    <option value="ASPIRANTE">ASPIRANTE</option>
                    <option value="BASE">BASE</option>
                    <option value="CONFIANZA">CONFIANZA</option>
                    <option value="ESTRUCTURA">ESTRUCTURA</option>
                    <option value="EVENTUAL">EVENTUAL</option>
                    <option value="EXTERNO">EXTERNO</option>
                    <option value="HONORARIOS">HONORARIOS</option>
                </select>
                <span asp-validation-for="CalidadLaboral" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Estatus" class="form-label"></label>
                <select name="Estatus" asp-for="Estatus" class="form-select">
                    <option>SELECCIONE UNA OPCION</option>
                    <option value="Trabajador">TRABAJADOR</option>
                    <option value="Aspirante">ASPIRANTE</option>
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="Seccional" class="form-label"></label>
                <select name="Seccional" asp-for="Seccional" class="form-select">
                    <option>SELECCIONE UNA OPCION</option>
                    <option value="SECCIONAL III">SECCIONAL III</option>
                    <option value="SECCIONAL IV">SECCIONAL IV</option>
                    <option value="SECCIONAL V">SECCIONAL V</option>
                    <option value="SECCIONAL VII">SECCIONAL VII</option>
                    <option value="SECCIONAL IX">SECCIONAL IX</option>
                </select>
                <span asp-validation-for="Seccional" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Discapacidad" class="form-label"></label>
                <select name="Discapacidad" asp-for="Discapacidad" class="form-select">
                    <option>SELECCIONE UNA OPCION</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
                <span asp-validation-for="Discapacidad" class="text-danger"></span>
            </div>

         </div>
         <button type="submit" class="btn btn-primary">Crear</button>
         <a class="btn btn-danger" asp-action="Index">Cancelar</a>
     </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}